:root {
    --cor-primaria: #6f1b26;
    --cor-primaria-escura: #dd9ddc;
    --cor-destaque:#f7f9fe;
    --cor-fundo:#cac1d2;
    --cor-branca: #f3f4f6;
    --cor-borda: #ffffff;
    --cor-texto: #200e0e;
    --sombra-padrao: #07071c;
    --raio-borda: 14px;
    --largura-maxima: 1100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    line-height: 1.6;
    min-height: 100vh;
}

header {
    background:linear-gradient(
        180deg,
        var(--cor-primaria),
        var(--cor-primaria-escura)
    );
    color: var(--cor-branca);
    padding: 50px 20px;
}
